{:kotoba.app/id "cloud.itonami.isic-5820", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiehwpwyityqf2n35mzkenaxbocnkzm24msfdjt6kj5u4nnw3goqie", :kotoba.app/embed-url "ipfs://bafkreiehwpwyityqf2n35mzkenaxbocnkzm24msfdjt6kj5u4nnw3goqie", :published {:archive "https://kotobase.net/ipfs/bafkreiehwpwyityqf2n35mzkenaxbocnkzm24msfdjt6kj5u4nnw3goqie", :size 73043, :put-status 201, :get-status 200, :at "2026-08-15T13:47:33.128Z"}}
